@page "/setup/v1/covercalibrator/{InstanceID:int}/setup"

@inject IToastService toastService
@inject NavigationManager uriHelper;
@using System.Timers;

<body>
    <fieldset>
        <legend>Cover Calibrator</legend>
        <div class="grid-container-two">

            <div class="grid-item-left">
                <svg width="30" height="30">
                    <circle cx="15" cy="15" r="11" style="fill:@ConnectionColor;stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
                <button @onclick="Connect">@ConnectText</button>
            </div>
            <div class="grid-item-left">
            </div>
        </div>

        <div class="grid-container-one">
            <div class="grid-item-center">
                <p>Calibrator Status: @CalStatus</p>
            </div>
            <div class="grid-item-center">
                <svg width="128" height="128">
                    <rect width="128" height="128" style="fill:@BrightnessString;stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
            </div>
            <div class="grid-item-center">
                <input type="range" min="0" max="@MaxBrightness" step="1" disabled="@CalibratorDisabled" @bind-value="Brightness" />
            </div>

            <div class="grid-item-center">
                <label for="brightness">Brightness:</label>
                <input type="number" id="brightness" name="brightness" min="0" max="@MaxBrightness" @bind-value="Brightness" disabled="@CalibratorDisabled">
            </div>

            <div class="grid-item-center">
                <button @onclick="CalOff" disabled="@CalibratorDisabled">Calibrator Off</button>
            </div>

            <div class="grid-item-center">
                <p>Cover Status: @CoverStatus</p>
            </div>

            <div class="grid-item-center">
                <button @onclick="OpenClose" disabled="@CoverDisabled">@OpenCloseText</button>
                <button @onclick="Halt" disabled="@CoverDisabled">Halt</button>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Calibrator Settings</legend>
        <div class="grid-container-two">
            <div class="grid-item-right">
                <span>Max Brightness:</span>
            </div>
            <div class="grid-item-left">
                <input type="number" class="number-narrow"
                       min="1" max="2147483647" @bind="@MaxBrightness">
            </div>

            <div class="grid-item-right">
                <span>Stabilization Time:</span>
            </div>
            <div class="grid-item-left">
                <input type="number" step="0.1" class="number-narrow"
                       min="0.0" max="100.0" @bind="CalStabTime">
            </div>

            <div class="grid-item-right">
                <span>Calibrator Status:</span>
            </div>
            <div class="grid-item-left">
                <select id="devicetype" @bind="CalStatus" style="width:100%;max-width:21ch;">
                    @foreach (var calStatus in (ASCOM.Standard.Interfaces.CalibratorStatus[])Enum.GetValues(typeof(ASCOM.Standard.Interfaces.CalibratorStatus)))
                    {
                        <option value="@calStatus">@calStatus.ToString()</option>
                    }
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Cover Settings</legend>
        <div class="grid-container-two">

            <div class="grid-item-right">
                <span>Opening Time:</span>
            </div>
            <div class="grid-item-left">
                <input type="number" step="0.1" class="number-narrow"
                       min="0.0" max="100.0" @bind="OpeningTime">
            </div>

            <div class="grid-item-right">
                <span>Cover Status:</span>
            </div>
            <div class="grid-item-left">
                <select id="devicetype" @bind="CoverStatus" style="width:100%;max-width:21ch;">
                    @foreach (var coverStatus in (ASCOM.Standard.Interfaces.CoverStatus[])Enum.GetValues(typeof(ASCOM.Standard.Interfaces.CoverStatus)))
                    {
                        <option value="@coverStatus">@coverStatus.ToString()</option>
                    }
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Settings</legend>
        <div class="grid-container-two">

            <div class="grid-item-left">
                <button @onclick="Reset">Reset</button>
            </div>
            <div class="grid-item-right">
                <button @onclick="SaveDeviceSettings">Save</button>
            </div>
        </div>
    </fieldset>
</body>

@code {
    [Parameter]
    public int InstanceID { get; set; }

    /// <summary>
    /// This access the device type not the interface to allow the device specific settings to be accessed.
    /// </summary>
    private ASCOM.Simulators.CoverCalibratorSimulator Device
    {
        get
        {
            return DeviceManager.GetCoverCalibrator(InstanceID) as ASCOM.Simulators.CoverCalibratorSimulator;
        }
    }

    Timer timer = new Timer(100);

    public void Dispose()
    {
        timer.Elapsed -= OnPageRefresh;
        timer.Stop();
    }

    protected override void OnInitialized()
    {
        timer.Elapsed += OnPageRefresh;
        timer.AutoReset = true;
        timer.Enabled = true;
        base.OnInitialized();
    }

    private void OnPageRefresh(Object source, ElapsedEventArgs e)
    {
        try
        {
            // Note that the following line is necessary because otherwise
            // Blazor would not recognize the state change and not refresh the UI
            InvokeAsync(() =>
            {
                try
                {
                    StateHasChanged();
                }
                catch
                {

                }
            });
        }
        catch
        {

        }
    }

    #region Control

    public string BrightnessString
    {
        get
        {
            var hex = EightBitBrightness.ToString("X2");
            return string.Format("#{0}{0}{0}", hex);
        }
    }

    public int EightBitBrightness
    {
        get
        {
            if (!CalibratorDisabled)
            {
                return (Brightness * 255) / Device.MaxBrightness;
            }
            return 0;
        }
    }

    public int Brightness
    {
        get
        {
            if (!CalibratorDisabled)
            {
                return Device.Brightness;
            }
            return 0;
        }
        set
        {
            if (!CalibratorDisabled)
            {
                try
                {
                    Device.CalibratorOn(value);
                }
                catch (Exception ex)
                {
                    DisplayError(ex.Message);
                }
            }
        }
    }


    public bool CalibratorDisabled
    {
        get
        {
            if (!Connected)
            {
                return true;
            }
            if (CalStatus == ASCOM.Standard.Interfaces.CalibratorStatus.NotPresent)
            {
                return true;
            }
            return false;
        }
    }

    public bool CoverDisabled
    {
        get
        {
            if (!Connected)
            {
                return true;
            }
            if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.NotPresent)
            {
                return true;
            }
            return false;
        }
    }

    public bool Connected
    {
        get
        {
            return Device.Connected;
        }
    }

    public string ConnectionColor
    {
        get
        {
            if (Connected)
            {
                return "red";
            }
            return "gray";
        }
    }

    public string ConnectText
    {
        get
        {
            if (Device.Connected)
            {
                return "Disconnect";
            }
            return "Connect";
        }
    }

    public void Connect()
    {
        Device.Connected = !Device.Connected;
    }

    public void CalOff()
    {
        try
        {
            Device.CalibratorOff();
        }
        catch (Exception ex)
        {
            DisplayError(ex.Message);
        }
    }

    public void OpenClose()
    {
        try
        {
            if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Open)
            {
                Device.CloseCover();
            }
            else if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Closed)
            {
                Device.OpenCover();
            }
            else if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Unknown)
            {
                Device.CloseCover();
            }
            else if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Error)
            {
                Device.CloseCover();
            }

        }
        catch (Exception ex)
        {
            DisplayError(ex.Message);
        }
    }

    public void Halt()
    {
        try
        {
            if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Moving)
            {
                Device.HaltCover();
            }
        }
        catch (Exception ex)
        {
            DisplayError(ex.Message);
        }
    }

    public string OpenCloseText
    {
        get
        {
            if (!Connected)
            {
                return "Open";
            }
            if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Closed)
            {
                return "Open";
            }
            if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Open)
            {
                return "Close";
            }
            if (CoverStatus == ASCOM.Standard.Interfaces.CoverStatus.Moving)
            {
                return "Moving";
            }
            return "Open";
        }
    }

    #endregion

    public int MaxBrightness
    {
        get
        {
            return Device.MaxBrightnessValue;
        }
        set
        {
            Device.MaxBrightnessValue = value;
        }
    }

    public double CalStabTime
    {
        get
        {
            return Device.CalibratorStablisationTimeValue;
        }
        set
        {
            Device.CalibratorStablisationTimeValue = value;
        }
    }

    public ASCOM.Standard.Interfaces.CalibratorStatus CalStatus
    {
        get
        {
            return Device.CalibratorStateInitialisationValue;
        }
        set
        {
            Device.CalibratorStateInitialisationValue = value;
        }
    }

    public double OpeningTime
    {
        get
        {
            return Device.CoverOpeningTimeValue;
        }
        set
        {
            Device.CoverOpeningTimeValue = value;
        }
    }

    public ASCOM.Standard.Interfaces.CoverStatus CoverStatus
    {
        get
        {
            return Device.CoverStateInitialisationValue;
        }
        set
        {
            Device.CoverStateInitialisationValue = value;
        }
    }

    public void SaveDeviceSettings()
    {
        try
        {
            Device.WriteProfile();

            toastService.ShowSuccess("Settings Saved");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    public void Reset()
    {
        try
        {
            Device.ResetSettings();

            toastService.ShowSuccess("Settings Reset");

            var timer = new System.Threading.Timer(new System.Threading.TimerCallback(_ =>
            {
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
            }), null, 2000, 2000);
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    public void DisplayError(string error)
    {
        toastService.ShowError(error);
    }
}