@page "/update"

@using Octokit;
@using LetsMake;

<fieldset>
    <legend>ASCOM Alpaca Simulators</legend>
    <p>Version - @ServerSettings.ServerVersion</p>
    <p>Copyright 2021-22 Daniel Van Noord</p>

</fieldset>

<fieldset>
    <legend>Updates</legend>
    @if (ASCOM.Alpaca.Simulators.Update.UpdateAvailable)
    {
        @if (HasNewerRelease)
        {
            <p>New release available, Version - @LatestVersion</p>   
            <a href="@URL" target="_blank">@URL</a>

        }

        @if (HasNewerPreview)
        {
            <p>New pre-release available, Version - @LatestPreviewVersion</p>          
            <a href="@PreviewURL" target="_blank">@PreviewURL</a>
        }
    }
    else
    {
        @if (UpToDate)
        {
            <p>Up to date</p>
        }
        else
        {
            <p>Found no updates or failed to read from the server. You should check manually for new releases.</p>
        }
    }

</fieldset>

@code {
    protected override void OnInitialized()
    {
        try
        {
            if (SemanticVersion.TryParse(ServerSettings.ServerVersion, out SemanticVersion currentversion))
            {
                var LatestRelease = ASCOM.Alpaca.Simulators.Update.Releases?.LatestRelease();
                var LatestPrerelease = ASCOM.Alpaca.Simulators.Update.Releases?.LatestPrerelease();

                SemanticVersion.TryParse(LatestRelease.TagName, out SemanticVersion latestrelease);

                SemanticVersion.TryParse(LatestPrerelease.TagName, out SemanticVersion latestprerelease);

                if(currentversion == latestrelease || currentversion == latestprerelease)
                {
                    UpToDate = true;
                }

                if (latestrelease != null)
                {
                    if(currentversion < latestrelease)
                    {
                        HasNewerRelease = true;
                        LatestVersion = LatestRelease.TagName;
                        URL = LatestRelease.HtmlUrl;
                    }
                }
                if(latestrelease == null)
                {
                    latestrelease = new SemanticVersion(0);
                }
                if (latestprerelease != null)
                {
                    if(currentversion < latestprerelease && latestrelease < latestprerelease)
                    {
                        HasNewerPreview = true;
                        LatestPreviewVersion = LatestPrerelease.TagName;
                        PreviewURL = LatestPrerelease.HtmlUrl;
                    }
                }
            }
        }
        catch
        {

        }

        base.OnInitialized();
    }


    string LatestVersion
    {
        get;
        set;
    }

    string URL
    {
        get;
        set;
    }

    string LatestPreviewVersion
    {
        get;
        set;
    }

    string PreviewURL
    {
        get;
        set;
    }

    bool UpToDate
    {
        get;
        set;
    } = false;

    bool HasNewerPreview
    {
        get;
        set;
    } = false;

    bool HasNewerRelease
    {
        get;
        set;
    } = false;
}